@media (max-width: 767px) {
    .container-card-main {
        display: block;
        justify-content: space-between;
        width: 100%;
    }
    .container-slider-product {
        width: 100%;
    }

    .carousel__item2 img{
        width: 100%;
    }

    .text-h1-catalog-product-card {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: #16151c;
    }
    .text-h2-catalog-product-card {
        width: 100%;
        font-size: 14px;

        font-weight: 400;
        line-height: 20px;
        color: #333;
        margin-bottom: 40px;
    }
    .desc-wrapper-box {
        display: block;
        width: 100%;
       
    }
    .accordion {
        width:100%;
    }
    .text-container p  {
       width: 100%;
    }

   
    #razves{
        margin-bottom: 20px;
    }
    .product-block {
        width: 100%;
      
    }
    .add-to-cart-btn {
        width: 100%;
       
    }
    // 
    .field-form {
        margin-top: 40px;
        width: 95%;
     
    }




    // сомнительно 
    .catalog-categories-item {
        display: block;
        width: 70%;
        height: 100%;
        border: 1px solid #e7e9ec;
        border-radius: 16px;
    }
    
    .bondbox{
        width: 25rem;
    }
    
}

@media (max-width:414px){
    .bondbox{
        width: 24rem;
    }
    .catalog-categories-item {
        
        width: 65%;
     
    }
    .field-form {
        margin-top: 40px;
        width: 90%;
    }
}



@media (max-width:390px){
    .bondbox{
        width: 22rem;
    }
    .catalog-categories-item {
        
        width: 65%;
     
    }
    .field-form {
        margin-top: 40px;
        width: 85%;
    }
}