.description-oplata__container{
    width: 868px;
    
}
.description-oplata__title h2{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #16151C;
}
.description-oplata__content p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #16151C;
}




