.password-recovery-form {
    width: 420px;
    margin-bottom: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.password-recovery-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-recovery-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00A743;
    color: #fff;
    cursor: pointer;
    width: 100%;
}
.password-recovery-form button:hover {
    background-color: #0056b3;
}
.password-recovery-form .bottom-text {
    margin-top: 10px;
    font-size: 14px;
}
.password-recovery-form .bottom-text a {
    text-decoration: none;
    color: #007BFF;
}
.password-recovery-form .bottom-text a:hover {
    text-decoration: underline;
}

.password-recovery-form label{
    font-size: 14px;
    line-height: 20px;
    color: #111928;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.password-desc-wrapper{
    width: 420px;
}
.password-desc-wrapper p {
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    font-weight: 400;
    margin-bottom: 10px;
   
}