@media(max-width: 1024px) {
    .order-history {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 400px;
    }
    .order-history-header {
        width: 73%;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #344054;
    }



}